/*STYLE SHEET FOR INDEX.HTML - CRYSTAL GAME*/

h1{
	background-color: lightgrey;
	border: dashed 0.2px grey;
}
.instructions{
	text-align: center;
	background-color: lightgrey;
}
.crystalImage{
	width: 100px;
	height:100px;
	background-color: lightpink;
}
#randomNumber{
	font-size: 50px;
}
body{
	text-align: center;
}